* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: #111;
    overflow: hidden; /* biar fullscreen no scroll */
    font-family: Arial, sans-serif;
}

/* Container utama */
.container {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Canvas fullscreen fit lebar hp */
.canvas-container {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 4 / 5;  /* BIKIN CANVAS 4:5 DI HP */
    background: #333;
    border-radius: 10px;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    touch-action: none; /* wajib biar drag smooth di HP */
}

.controls {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
}

input[type="range"] {
    width: 80%;
}

#upload {
    margin-top: 10px;
    color: white;
}

#downloadBtn {
    margin-top: 10px;
    padding: 12px 20px;
    background: #6c63ff;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 80%;
    font-size: 16px;
}
